<h1>Welcome to the Run Log, <%=@user.username%>
<%=flash[:error]%>
<h3>Please see your logs below</h3>
    <% @user.logs.each.with_index(1) do |log,index| %>
        <h4> <%=index%>.  <%=log.distance%> Miles at a <%=log.pace%> pace  on <%=log.date%> <a href="/logs/<%=log.id%>">See More Specs</a></h4>
    <% end %>
<h4> <a href="/logs/new">Log a new run</a></h4>

<h2>Your total distance is <%=@total_distance%></h2>

    

  

