<br>
<br>
<br>
<br>
Log Date: <%=@log.date %>
<br>
Distance: <%=@log.distance %> Miles
<br>
Pace: <%=@log.pace %>
<br>
Average Heart Rate:<%=@log.avg_heart_rate %>
<br>
Notes:<%=@log.notes %>
<br>
<br>
<br>
<% if current_user == @log.user %>
<a href="/logs/<%=@log.id%>/edit">Edit Log </a>
<br>
<form method="POST" action="/logs/<%=@log.id%>">
    <input type="hidden" name="_method" value="DELETE"/>
    <input type="submit" value="Delete" />
</form>

<% end %>